$background: #ffffff;
$light-border: #edeff1;
$green: #e4ffe1;
$orange: #f3caba;
$blue: #bcd5f0;
$violet: #c9b8cc;
$teal: #d6fffe;
$gray: #808080;
$border: #ffffff;
$text: #000000;

$spacing: 32px;
$preview-icon-size: 20px;
