li.project.condensed {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1 / 1;
  width: calc(33.3333% - 10px);
  margin: 0 5px 32px 5px;
  padding: unset;

  &:hover > * {
    opacity: 1;
  }
}

.condensed.preview {
  flex-grow: 1;
  max-height: 100%;
  height: fit-content;
  border: 1px solid $light-border;
  border-radius: 5px;
  object-position: top center;
}

.project.wrapper {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  max-height: 100%;
  width: 100%;
  height: fit-content;
  padding: 5px;
  opacity: 0;
  transition: opacity 125ms ease-in;
  border-top: unset;
  border: 1px solid $light-border;
  border-radius: 5px;
  border-top-left-radius: unset;
  border-top-right-radius: unset;

  p {
    margin-bottom: unset;
  }
}

.project.description {
  padding-right: $preview-icon-size;
}

@media (max-width: 1199px) {
  .project.description {
    h5 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

@media (min-width: 992px) {
  .project.wrapper {
    background-color: $background;
  }
}

@media (max-width: 991px) {
  li.project.condensed {
    min-width: 100%;
    max-width: 100%;
  }
}

@media (576px <= width <= 991px) {
  li.project.condensed {
    flex-flow: row nowrap;
    height: 200px;
    aspect-ratio: unset;

    .condensed.preview {
      flex-grow: 1;
      margin-right: 5px;
    }
  }

  .condensed.project {
    position: relative;
    flex-basis: 75%;
    height: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    opacity: 1;

    .github-preview {
      align-self: flex-start;
    }

    .project.description {
      h5 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}

@media (max-width: 576px) {
  li.project.condensed {
    height: fit-content;
    padding-left: 0;

    > * {
      position: relative;
      opacity: 1;
    }
  }
}
